.blog-card {
  height: 300px;
  width: 300px;
  background-color: #685bb1;
  // will remove this margin;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;

  .box {
    color: white;
    .image {
      height: 100px;
      width: 100%;

      img {
        object-fit: cover;
        height: 100px;
        width: 100%;
      }
    }
    .title {
      // text-align: center;
      font-size: 25px;
      font-weight: bold;
      padding: 10px 0;
      
    }

    .description {
      font-size: 15px;
      font-weight: normal;
    }
  }
}
